 #masternavbar{
    border-radius:0px;
}

 #navigationbuttongroup {
     padding-right: 25px;
 }

 #calendar {
     width : 100%;
 }

 #appointmentsection{
     padding-left:10%;
 }

 .cal-cell.active {
     background-color :#ebebeb;
 }

 body{
     padding: 70px;
 }