@{
    ViewBag.Title = "iFoneFix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
    <div class="pull-right form-inline">
        <div class="btn-group" id="navigationbuttongroup">
            <button class="btn btn-info" >Prev</button>
            <button class="btn">Today</button>
            <button class="btn btn-info">Next</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-info">Year</button>
            <button class="btn btn-info">Month</button>
            <button class="btn btn-info">Week</button>
            <button class="btn btn-info">Day</button>
        </div>
    </div>
    <h3>Year </h3>
</div>


<script>
    $('#Calendarlink').addClass("active");
</script>